@font-face {
  font-family: ScandiaBold;
  src: url(./fonts/Scandia-Bold.otf);
}
@font-face {
  font-family: Scandia;
  src: url(./fonts/Scandia-Regular.otf);
}

:root {
  --shadow: 0 5px 25px 0 rgba(0,0,0,.05);
  --btnColor: #71B045;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: ScandiaBold, sans-serif;
}

p, small {
  font-family: Scandia, sans-serif;
}
